[Desktop Entry]
Version=4.0.2
Name=Singular Manual
Name[de]=Singular-Handbuch
Comment=read the user manual for Singular 4.0.2
Comment[de]=im Benutzerhandbuch zu Singular 4.0.2 lesen
Comment[es]=
Comment[fr]=lire le manuel d'utilisation de Singular 4.0.2
Comment[ru]=
Type=Link
URL=file://@DOC_DIR@/html/index.htm
Icon=@DATA_DIR@/icons/Singular.png
Categories=Math;Science;Development;Education;Documentation;
Encoding=UTF-8

