[Desktop Entry]
Version=4.0.1
Name=Singular
Comment=run Singular 4.0.1 in a terminal
Comment[de]=Singular 4.0.1 in einem Terminal starten
Comment[es]=
Comment[fr]=démarrer Singular 4.0.1 dans un terminal
Comment[ru]=
Type=Application
Exec=Singular
Terminal=true
Categories=Math;Science;Education;
Icon=@DATA_DIR@/icons/Singular.png
Encoding=UTF-8

